/* BASE*/

body {
    margin: 0;
    padding: 0;
    font-family: "Stack Sans Headline", sans-serif;
    font-weight: 200;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}


/* LAYOUT */

.a-nav-options {
    gap: 30px;
}

.a-img-award,
.a-award-wrapper {
    margin-right: 10px;
    width: 100px;
    font-size: 0.7em;
    margin-top: 0px;
}

.a-hero {
    padding: 90px 0;
}

.a-hero-btn {
    width: 400px;
    margin-bottom: 30px;
}

.a-template-text {
    margin: 0;
    border-radius: 20px 20px 20px 0;
    position: absolute;
    padding: 10px 22px;
    top: 0px;
    right: 10px;
}

.a-template-desktop {
    width: 500px;
    margin: auto;
}

.a-templates {
    padding: 30px 30px 30px 0;
}

.a-template-mobile {
    width: 125px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    
}

.a-template-desktop,
.a-template-mobile {
    border: 8px solid rgb(255,255,255, 0.5);
    outline: 2px solid white;
}

.b-heading,
.carousel-width,
.d-carousel-btns,
.d-carousel-content,
.d-img,
.carousel-wrapper,
.e-card,
.e-card-stat {
    width: 100%;
}


/*  */


.b-heading {
    font-size: 2.5em;
    margin: 75px auto 100px;
}

.b-img-height {
    height: 125px;
}

.b-imgs {
    padding-bottom: 50px;
}



/*  */



.c-small-logo {
    width: 30px;
}

.c-data-heading {
    gap: 5px;
    
}

.c-data {
    padding: 5px 2px;
}

.c-data-number {
    font-size: 1em;
}



.c-product-pitch {
    width: 450px;
}

.c-heading {
    font-size: 2.5em;
}

.c-imgs {
    position: relative;
    padding:20px;
    margin-right: 30px;
}

.c-background-img {
    display: block;
    width: 500px;
    border-radius: 20px;
}

.c-background-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(32,86,245, 0.8);
    border-radius:15px;
}

#c-office-worker {
    position: absolute;
    width: 250px;
    bottom: 0;
    left:0;
}

.c-example-data {
    position: absolute;
    font-size: 0.75em;
    padding: 5px 20px;
    height: 85px;
    top: 150px;
    right: 0; 
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px rgb(0,0,0, 0.5);
}



/*  */


.d-carousel-btns {
    min-height: 130px;
    max-width: 960px;
    margin: 30px auto;
}

.d-carousel-btn {
    font-family: inherit;
    margin:10px;
    border: none;
    background: none;
    font-size: 1em;
    cursor: pointer;
    font-weight: 400;
}

.d-carousel-content {
    max-width: 540px;
    text-align: left;
    padding: 40px 30px;
}

.carousel-width {
    max-width: 1080px;
    border-radius: 15px;
    background-color: #ffffff;
    margin: 0px auto;
}

.carousel-indicators {
    bottom: -60px;

}

.carousel-btn {
    height: 10px !important;
    width: 10px !important; 
    border-radius: 50%;
}


.d-img {
    width: 540px;
}

.d-img {
    width: 540px;
    height: 400px;
    border-radius: 15px;
    margin: 30px 30px 30px 10px;   
    background-image: url("https://media.istockphoto.com/id/2187465701/photo/a-successful-businesswoman-is-using-a-laptop-and-working-in-the-office.jpg?s=612x612&w=0&k=20&c=qWWdbFydb4gUN4FUHDynPHiXfKXMy08MDqHf5m20gr0=");
    object-fit: cover;

}

.d-img-logo {
    position: absolute;
    width: 150px;
    top: 340px;
    left: 310px;
}

.d-img-text {
    position: absolute;
    top: 150px;
    left: 350px;
    font-weight: 700;
    background: linear-gradient(to right, #fe942c 10%, #f12883, #8a3cf2);
    padding: 7px 14px;
    border-radius: 15px 15px 0 15px;
}


/*  */



.e-header {
    margin: 0;
    padding-bottom: 50px;
    font-size: 2.2em;
}

.e-card {
    background-color: white;
    max-width: 350px;
    border-radius: 15px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.e-angle-right {
    height: 30px;
}

.e-card-logo {
    height: 60px;
}

.e-card-quote {
    min-height: 210px;
}


/*  */


@media (max-width:768px) {
    .d-img,
    .c-imgs,
    .g-image,
    .f-gradient-bg,
    .position-absolute-left,
    .a-templates,
    .f-image-left,
    .carousel-control-prev,
    .carousel-control-next,
    .desktop-testimonies {
        display: none;
    }

    #carouselTestimony {
        display: block !important;
    }

    .e-card,
    .e-card-quote {
        height: auto;
        min-height: 310px;
    }

    h1 {
        font-size: 3em !important;
    }
}

    #carouselTestimony {
        display: none;
    }

/* MODULE */

.border-radius {
    border-radius: 15px;
}


.btn {
    border-radius: 25px;
    padding: 10px 50px;
}

.small-text{
    font-size: 10px;
    padding: 0px 10px;
}

.none {
    list-style-type: none;
}

.relative {
    position: relative;
}

.large-text {
    font-size: 4em;
}

.extra-bold {
    font-weight: 900;
    font-size: 5rem;
    padding-bottom: 0px;
}

.small-title {
    font-size: 0.8rem;
}

.stats-bold {
    font-size: 2em;
}

/* STATE */
.light:active,
.dark:active,
.light:hover,
.dark:hover {
    border: 2px solid white;
    background: #182639;
}

.blue:hover,
.blue:active {
    background-color: #0e2235;
}



.carousel-active:active, 
.carousel-active:hover {
    background-color: #2056f5;  
}

.d-carousel-btn:active,
.d-carousel-btn:hover {
    color: whitesmoke;  
}

.g-btn:hover,
.g-btn:active {
    border: 2px solid white;
    background-color: #2056f5; 
    color: whitesmoke;
}

.footer-list-item:hover,
.footer-list-item:active {
    text-decoration: underline;
}

/* THEME */



.a-container {
    background-color: #06216e;
    background: linear-gradient(to bottom right, #06216e, #2056f5);
}


.b-triangle {
    fill: #1949d3;
}

.b-gradient {
    background-color: #06216e;
    background: linear-gradient(to bottom right, #06216e, #2056f5);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.c-container {
    background-color: #f4f8fc;
    padding-bottom: 120px;
}

.d-container {
    background-color: #0e2235; 
}

.d-header {
    font-size: 2.4em;
}

.e-container {
    background-color: #f4f8fc;
}


.blue-bold {
    color: #2056f5;
    font-size: 3em;
}


.carousel-header {
    color: #2056f5;
    font-size: 1.2em;
    margin: 0;
}

.carousel-h3 {
    font-size: 2em;
    line-height: 1em;
}

.f-image-left {
    border-radius: 100px 100px 0 100px;
    width: 600px;
    height: 400px;
    margin: 40px 40px 20px 0;
    padding: 0 0 30px 30px;
}

.f-gradient-bg {
    border-radius: 0px 60px 60px 60px;
    background: linear-gradient(to right, #1947d0, #082375);
    width: 600px;
    padding-top: 30px;
    height: 300px;
    margin: 40px 0 20px 40px;
}

.position-absolute-center {
    position: absolute;
    bottom: 0;
    left: 220px;
}

.position-absolute-center-worker {
    position: absolute;
    bottom: 0;
    left: 100px;
}

.position-absolute-left {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(247, 249, 255, 0.75);
    border: 1px solid white;
    font-size: 1.75rem;
    width: 350px;
}

.position-absolute-dashboard {
    width: 300px;
    position: absolute;
    top: 10px;
    left: 5px;
    box-shadow: 0px 0px 4px black;
}

.position-absolute-stats {
    width: 480px;
    position: absolute;
    bottom: 20px;
    left: 100px;
    background-color: rgb(216, 223, 234, 0.9);
    
}

.position-absolute-ticket {
    position: absolute;
    bottom: 0;
    right: 10px;

    width: 300px;
    height: 100px;
    object-fit: none;

    outline: 1px solid white;
    border: 10px solid rgb(255,255,255, 0.5);
}

.near-miss-text {
    width: 250px;
}


.position-absolute-text {
    position: absolute;
    width: 300px;
    top: 10px;
    left: 0px;
    background-color: whitesmoke;
    outline: 1px solid white;
    border: 5px solid rgb(255,255,255, 0.5);
    background-clip: padding-box;
}



.dashboard-border {
    border: 10px solid rgb(255,255,255, 0.5);
    border-bottom: none;
    outline: 1px solid white;
    border-radius: 15px;
    box-shadow: 0px -1px 4px black;
}

.text-right,
.text-left {
    position: absolute;
    font-size: 1.4rem;
    line-height: 30px;
}

.text-left {
    top: 90px;
    left: 40px;
}

.text-right {
    top: 130px;
    right: 40px;
}



.f-text {
    height: 340px;
}

.g-container {
    background-color: #192639;
}

.g-image {
    width: 700px;
    height: 475px;
}

.g-dashboard {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 600px;
        outline: 1px solid white;
    border: 10px solid rgb(255,255,255, 0.3);
}

.g-mobile {
    position: absolute;
    bottom: 0;
    right: 0;
        outline: 1px solid white;
    border: 10px solid rgb(255,255,255, 0.3);
}

.g-icon-1 {
    position: absolute;
    bottom: 100px;
    left: 200px;
    color: #01b5e2;;
}
.g-icon-2 {
    position: absolute;
    top: 130px;
    left: 200px;
    color: #01b5e2;;
}

.g-icon-3 {
    position: absolute;
    top: 20px;
    left: 475px;
    background: linear-gradient(to right, #fe942c 10%, #f12883, #8a3cf2);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.g-text-1 {
    position: absolute;
    top: 290px;
    left: 0;
    border-radius: 10px 10px 0 10px ;
}

.g-text-2 {
    position: absolute;
    top: 150px;
    left: 250px;
    width: 250px;
    border-radius: 0 10px 10px 10px;

}

.g-text-3 {
    position: absolute;
    top: 0;
    left: 365px;

}

.g-btn {
    background-color: #2056f5; 
}

.footer-list {
    padding: 0;
}

.footer-list-item {
    padding-bottom: 3px;
}

.footer-imgs {
    height: 100px;
}

.grey {
    background-color: grey !important;
}

.carousel-indicators button.active,
.teal-background {
    background-color: #01b5e2 !important;
}



.dark {
    background-color: #182639;
}
 
.light {
    background-color: #ffffff;
    color: #000e00;
}

.teal {
    color: #01b5e2;
}

.blue {
    display: inline-block;
    background-color: #2056f5; 
     
}

.ws {
    color: whitesmoke;
}

.w-200 {
    width: 200px;
}
